@page
@model Bell.Web.Pages.Seller.Products.EditModel
@{
}

<form method="post" class="d-flex flex-column align-items-stretch">
    <h1 class="align-self-center">Edit product</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Product.Id" />
    <div>
        <label asp-for="Product.Name" class="form-label"></label>
        <input asp-for="Product.Name" class="form-control">
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Product.Description" class="form-label"></label>
        <textarea asp-for="Product.Description" class="form-control"></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Product.Price" class="form-label"></label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input asp-for="Product.Price" class="form-control">
        </div>
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="row m-2">
        <div class="col-3 offset-3">
            <button class="btn btn-success w-100" asp-route-id="@Model.Product.Id">Edit</button>
        </div>
        <div class="col-3">
            <button class="btn btn-secondary w-100" asp-page-handler="Cancel"
                asp-route-id="@Model.Product.Id">Cancel</button>
        </div>
    </div>
</form>
