@page
@model Bell.Web.Pages.Seller.Products.IndexModel
@{
}
<form method="post">
    <div class="row">
        <div class="form-group col">
            <label asp-for="Search" class="control-label d-hide">Search Products</label>
            <input asp-for="Search" class="form-control col" placeholder="Search..." />
        </div>
        <div class="form-group col">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="container">
    @foreach (var row in Model.Rows)
    {
        <div class="row">
            @* Foreach is not used here because in the last row, if the row is not full, *@
            @* the last items will be empty to occupy the grid layout *@
            @for (int i = 0; i < Model.RowSize; i++)
            {
                var item = row.ElementAtOrDefault(i);
                <div class="col d-flex flex-column">
                    @if (item != null)
                    {
                        <div>
                            <a asp-page="View" asp-route-id=@item.Id>@item.Name</a>
                        </div>
                        <div>@item.Price</div>
                        <div>@item.Description</div>
                    }
                </div>
            }
        </div>
    }
</div>
