@page
@model Bell.Web.Pages.Seller.Products.ViewModel
@{
}

<div>
    <div class="">
        @Model.Product.Name
    </div>
    <div class="">
        @Model.Product.Description
    </div>
    <div class="">
        @($"{Model.Product.Price:C2}")
    </div>
    <div class="d-flex">
        <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Product.Id">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
