@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    string? errorMessage = null;
    if (Model.Code != null)
    {
        errorMessage = $"{Model.Code} {Model.ErrorMessage}.";
    }
}

<h1 class="text-danger">An error occurred@(errorMessage == null ? "." : $":")</h1>
@if (errorMessage != null)
{
    <h3>@errorMessage</h3>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
