html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* NOTE Hide labels for accessibility. */
.d-hide {
  position: absolute !important;
  top: -99999px !important;
  left: -99999px !important;
}

/* NOTE Added to fix annoying arrows in firefox number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn.bi {
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  --bs-btn-disabled-color: #afafaf;
}

.btn.bi:active {
  box-shadow: none;
}

.btn-secondary.bi {
  --bs-btn-color: #828b92;
  --bs-btn-hover-color: #5e666e;
  --bs-btn-active-color: #2d3033;
}

.btn-primary.bi {
  --bs-btn-color: #0d6efd;
  --bs-btn-hover-color: #0b57c9;
  --bs-btn-active-color: #073477;
}

.btn-success.bi {
  --bs-btn-color: #1c995f;
  --bs-btn-hover-color: #0f7444;
  --bs-btn-active-color: #004424;
}

.btn-danger.bi {
  --bs-btn-color: #dc3545;
  --bs-btn-hover-color: #ad2836;
  --bs-btn-active-color: #520007;
}
